/* 层级导航间距 */

#arrNav {
    padding: 20px 0;
}

#goodsListParent {
    background: #fff;
}

.list {
    padding: 10px;
}


/* 整行都可以触发 */

.list>h3 {
    color: #000000;
    cursor: pointer;
    font-size: 18px;
    margin: 22px 0;
}

.list>h3>span {
    color: #B0B0B0;
    cursor: pointer;
    border: 1px #b0b0b0 solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    transition: all .5s;
}


/* 展开时图标亮色 */

.list>h3.show {
    color: #ff6700;
}

.list>h3.show>span {
    color: #ff6700;
    border-color: #ff6700;
    transform: rotateX(180deg);
}


/* 绑定显示类 */

.contentList.show {
    display: block;
}


/* 默认隐藏 */

.contentList {
    display: none;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}


/* 设置每个li样式 */

.contentList>li {
    width: 20%;
    height: 165px;
    box-sizing: border-box;
    padding-top: 24px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    list-style: none;
    float: left;
}


/* 每第五个就不需要右边框 */

.contentList>li:nth-child(5n) {
    border-right-color: transparent;
}


/* 设置图片和文字样式 */

.contentList>li>a {
    color: #757575;
}

.contentList>li>a:hover {
    color: #ff6700;
}

.contentList>li img {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto 24px;
}

.contentList>li span {
    display: block;
}


/* 隔宽 */

#interval {
    height: 100px;
}