.layui-container {
    min-width: 1170px;
}


/* 加载动画 */

.load {
    font-size: 60px;
    text-align: center;
}

.load.hide {
    display: none;
}

.load::before {
    animation: xuan 3s linear infinite;
    transition: all 2s;
    display: inline-block;
    color: #ff6700;
}

@keyframes xuan {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* 浮动 */

.left {
    float: left;
}

.right {
    float: right;
}


/* 清浮动 */

.clearF::after {
    content: '';
    display: block;
    clear: both;
}


/* 导航栏 */

#header {
    background: rgb(51, 51, 51);
    height: 40px;
    color: #b0b0b0;
    line-height: 40px;
    font-size: 12px;
    min-width: 1170px;
    user-select: none;
}

#main {
    background: #f5f5f5;
    width: 100%;
    min-width: 1170px;
}


/* 超链接颜色 */

#header a {
    color: #b0b0b0;
    display: inline-block;
}

#header a:not(.navCartMini):hover {
    color: #fff;
}


/* 间隔符颜色 */

#header .sep {
    color: #424242;
    margin: 0 3.6px;
}


/* 第二个div字体右对齐 */

#header>div>div>div:nth-child(2) {
    text-align: right;
    position: relative;
}


/* 检测是否登陆更换显示 */

#header .testingLogin {
    display: inline-block;
}


/* 用户名样式 */

#header .testingLogin>a>span {
    /* display: inline-block; */
    width: 40px;
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: right;
    text-align: center;
}

#header .testingLogin.hide {
    display: none;
}


/* 单独设置迷你购物车样式 */

#header .navCartMini {
    background: #424242;
    width: 120px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
}


/* 迷你购物车悬停时的样式 */

#header .navCartMini-active {
    background: #fff;
    color: #ff6700;
}


/* 迷你购物车内容展示样式 */

#header .miniCart-menu {
    width: 316px;
    height: 0;
    background: #fff;
    box-shadow: 1px 1px 10px #cecece;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 10086;
    overflow: hidden;
    text-align: center;
}


/* 每列商品 */

#header .miniCart-menu .list {
    height: 100px;
    display: block;
    display: flex;
    box-sizing: border-box;
    padding: 10px 15px;
    line-height: 60px;
}


/* 商品图片 */

#header .miniCart-menu .list img {
    width: 60px;
    height: 60px;
}


/* 商品名字 */

#header .miniCart-menu .list p {
    width: 85px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* 商品名字 */

#header .miniCart-menu .list span {
    width: 45px;
}


/* 清楚按钮 */

#header .miniCart-menu .list span:nth-of-type(3) {
    opacity: 0;
    transition: all .5s;
}


/* 悬停时出现 */

#header .miniCart-menu .list:hover span:nth-of-type(3) {
    opacity: 1;
}

#header .miniCart-menu>.box {
    max-height: 500px;
    overflow-y: auto;
}


/* 最后一个显示总价和总个数 */

#header .miniCart-menu>div:last-child {
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 20px;
    position: absolute;
    background: #ff6700;
    color: #fff;
    bottom: 0;
    width: 100%;
}

#nav {
    position: relative;
    background: #fff;
}

#oneNav {
    height: 100px;
}

#oneNav>div {
    position: relative;
}


/* 一级导航logo */

.leftLogo {
    position: absolute;
    top: 22px;
    user-select: none;
    z-index: 99;
}

#oneNav .leftLogo>a {
    font-size: 56px;
    color: #ff6700;
}


/* 一级导航 */

#oneNav>div>div:last-child {
    position: relative;
}

#oneNav>div>div:last-child>ul {
    padding: 12px 0 0 130px;
    display: inline-block;
}

#oneNav>div>div:last-child>ul>li {
    float: left;
    width: auto;
    height: auto;
    user-select: none;
}

#oneNav>div>div:last-child>ul>li>a {
    display: block;
    padding: 26px 10px 38px;
    color: #333;
    font-size: 16px;
    transition: color .2s;
}

#oneNav>div>div:last-child>ul>li>a.hide {
    visibility: hidden;
}

#oneNav>div>div:last-child>ul>li>a:hover {
    color: #ff6700;
}


/* 搜索栏 */

#oneNavSearch {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 20px;
}

#oneNavSearch>input {
    border: 1px solid #e0e0e0;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 48px;
    position: absolute;
    right: 51px;
    transition: all .2s;
}

#oneNavSearch>button {
    border: 1px solid #e0e0e0;
    width: 52px;
    height: 50px;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: all .2s;
}


/* 悬停时的样式 */

#oneNavSearch>input:hover {
    border-color: #b0b0b0;
}

#oneNavSearch>input:hover+button {
    border-color: #b0b0b0;
}


/* 获取焦点时的样式 */

#oneNavSearch>input:focus {
    border-color: #ff6700;
}

#oneNavSearch>input:focus+button {
    border-color: #ff6700;
}


/* #oneNavSearch>input:focus~div {
    display: block;
} */


/* 获取焦点时打开的选项栏 */

#oneNavSearch>.searchSelect {
    position: absolute;
    top: 50px;
    left: -296px;
    width: 243px;
    border: 1px solid #ff6700;
    border-top: 0;
    background: #fff;
    z-index: 120;
    display: none;
    outline: none;
}

#oneNavSearch>.searchSelect.show {
    display: block;
}

#oneNavSearch>.searchSelect>a {
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    color: #424242;
}


/* 悬停时样式 */

#oneNavSearch>.searchSelect>a:hover {
    background: #fafafa;
}


/* 导航对应内容展示 */

#oneNavContent {
    position: absolute;
    width: 100%;
    height: 0;
    background: #fff;
    top: 100px;
    left: 0;
    z-index: 110;
    overflow: hidden;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 5px 5px -1px #b0b0b0;
    display: none;
    outline: none;
}


/* 展示框内部样式 */

#oneNavContent>div>ul {
    width: 100%;
}

#oneNavContent>div>ul>li {
    width: 190px;
    float: left;
    padding: 5px 12px 0;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}


/* 除了第一个的左边都有边框 */

#oneNavContent>div>ul>li:not(.first):before {
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 1;
    width: 1px;
    height: 100px;
    content: "";
    background-color: #e0e0e0;
}


/* 内部图片大小和文字样式 */

#oneNavContent>div>ul>li img {
    width: 160px;
    height: 110px;
    margin-top: 30px;
}

#oneNavContent>div>ul>li div {
    color: #333;
    line-height: 20px;
}

#oneNavContent>div>ul>li .pirce {
    line-height: 20px;
    color: #ff6700;
}


/* 侧边栏 */

#aside {
    position: fixed;
    right: 0;
    bottom: 70px;
    z-index: 120;
}

#aside>a {
    position: relative;
    display: block;
    width: 82px;
    height: 90px;
    margin-top: -1px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    text-align: center;
}

#aside>a.hide {
    display: none;
}

#aside>a>div {
    font-size: 30px;
    margin: 0 auto 8px;
    padding-top: 18px;
}


/* 侧边栏购物车个数 */

#aside>a:nth-child(5)>span:last-child {
    position: absolute;
    right: 14px;
    top: 18px;
    padding: 0 5px;
    height: 14px;
    line-height: 14px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    background-color: #ff6700;
    border: 2px solid #fff;
    border-radius: 9px;
}

#aside>a:nth-child(5)>span:last-child.hide {
    display: none;
}


/* 侧边栏回到顶部 */

#aside>a:last-child {
    margin-top: 20px;
}


/* 底部 */


/* 五大服务 */

#serve {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}

#serve>ul {
    width: 100%;
}


/* 每个li平分宽度，设置样式 */

#serve>ul>li {
    float: left;
    width: 20%;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    border-left: 1px solid #e0e0e0;
    ;
}

#serve>ul>li:first-child {
    border-left: 0;
}


/* 超链接字体颜色 */

#serve>ul>li>a {
    color: #616161;
}


/* 悬停颜色 */

#serve>ul>li>a:hover {
    color: #ff6700;
}


/* 自定义图标样式 */

#serve>ul>li>a>span {
    font-size: 24px;
    padding-right: 10px;
    vertical-align: middle;
}


/* 底部链接 */

#footer-link {
    padding: 40px 0;
}


/* 固定每个dl的宽度+浮动 */

#footer-link>.col-link {
    width: 160px;
    float: left;
}


/* dt下外边距+字体大小+行高+字体颜色 */

#footer-link>.col-link>dt {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}


/* dd上外边距+字体大小 */

#footer-link>.col-link>dd {
    margin: 10px 0 0;
    font-size: 12px;
}


/* 超链接默认字体颜色 */

#footer-link>.col-link>dd>a {
    color: #757575;
}


/* 悬停颜色 */

#footer-link>.col-link>dd>a:hover {
    color: #ff6700;
}


/* 最后一个div样式 */

#footer-link>.col-concat {
    float: right;
    text-align: center;
    color: #616161;
}


/* 电话样式 */

#footer-link>.col-concat>.phone {
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}

#footer-link>.col-concat>p:nth-of-type(2) {
    font-size: 12px;
    margin: 5px 0;
}


/* 超链接按钮样式 */

#footer-link>.col-concat>.btn {
    display: inline-block;
    width: 158px;
    height: 38px;
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #b0b0b0;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}

#footer-link>.col-concat>.btn-line-primary {
    border-color: #ff6700;
    background: #fff;
    color: #ff6700;
}

#footer-link>.col-concat>.btn-line-primary:hover {
    color: #fff;
    background-color: #f25807;
    border-color: #f25807;
}

#footer-link>.col-concat>.btn-small {
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
}

#footer-link>.col-concat>.follow {
    font-size: 12px;
    margin-top: 10px;
    position: relative;
}

#footer-link>.col-concat>.follow>a {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    margin-top: -3px;
}

#footer-link>.col-concat>.follow>a:hover {
    color: #ff6700;
}


/* 结尾标语 */

#footer-say {
    padding: 20px 0;
    text-align: center;
}

#footer-say>.slogan {
    text-indent: -9999em;
    background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/slogan2020.png) no-repeat center 0;
}